# List 6

## Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn import neighbors
from sklearn import linear_model
from sklearn.model_selection import StratifiedKFold, KFold

In [2]:
import dist_metrics as dm
import metrics as mts
import knn

## Read Dataset

In [3]:
data = pd.read_csv('../datasets/winequality-white.csv',delimiter=',', header=None)

In [4]:
data.head()

    0     1     2     3      4     5      6       7     8     9     10  11
0  7.0  0.27  0.36  20.7  0.045  45.0  170.0  1.0010  3.00  0.45   8.8   6
1  6.3  0.30  0.34   1.6  0.049  14.0  132.0  0.9940  3.30  0.49   9.5   6
2  8.1  0.28  0.40   6.9  0.050  30.0   97.0  0.9951  3.26  0.44  10.1   6
3  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9   6
4  7.2  0.23  0.32   8.5  0.058  47.0  186.0  0.9956  3.19  0.40   9.9   6

In [5]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
0     4898 non-null float64
1     4898 non-null float64
2     4898 non-null float64
3     4898 non-null float64
4     4898 non-null float64
5     4898 non-null float64
6     4898 non-null float64
7     4898 non-null float64
8     4898 non-null float64
9     4898 non-null float64
10    4898 non-null float64
11    4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [7]:
X = data.values[:,:11]
y = data.values[:,11]

## Stratified KFold Cross-Validation com k = 3

In [8]:
splits = 3
kfold = StratifiedKFold(n_splits=splits, shuffle=True, random_state=42)
train_index, test_index = next(iter(kfold.split(X, y)))

X_train = X[train_index]
y_train = y[train_index]
X_test = X[test_index]
y_test = y[test_index]

### Manhattan Distance

In [9]:
manhattan_model = knn.KNNClassifier(k=5, metric='manhattan')
manhattan_model.fit(X_train, y_train)

In [10]:
y_pred_manhattan = manhattan_model.predict(X_test)
y_pred_manhattan = np.array(y_pred_manhattan)

In [11]:
manhattan_acc = mts.accuracy(y_test, y_pred_manhattan)

In [12]:
manhattan_acc

0.4578239608801956

### Euclidian Distance

In [13]:
knn_model = knn.KNNClassifier(k=5, metric='euclidean')
sk_knn_model = neighbors.KNeighborsClassifier(metric='euclidean', p=2)

In [14]:
knn_model.fit(X_train,y_train)
sk_knn_model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [20]:
y_pred = knn_model.predict(X_test)
y_pred_sk = sk_knn_model.predict(X_test)
y_pred = np.array(y_pred)

### Scikit

In [21]:
sk_acc = mts.accuracy(y_test,y_pred_sk) 
sk_acc

0.4828850855745721

### Own

In [22]:
acc = mts.accuracy(y_test,y_pred) 
acc

0.43276283618581907

## KFold Cross-Validation com k = 5

In [23]:
splits = 5
kfold_ = KFold(n_splits=splits, shuffle=True, random_state=42)
train_index, test_index = next(iter(kfold_.split(X, y)))

X_train2 = X[train_index]
y_train2 = y[train_index]
X_test2 = X[test_index]
y_test2 = y[test_index]

### Manhattan Distance

In [24]:
my_regressor_manhattan = knn.KNNRegressor(k=5, metric='manhattan')
my_regressor_manhattan.fit(X_train2,y_train2)
y_pred2_manhattan = my_regressor_manhattan.predict(X_test2)
accuracy2_manhattan = np.mean(y_pred2_manhattan == y_test2) 
accuracy2_manhattan

0.11122448979591837

### Euclidian Distance

In [26]:
my_regressor = knn.KNNRegressor(k=5, metric='euclidean')
sk_regressor = linear_model.LogisticRegression()

my_regressor.fit(X_train2,y_train2)
sk_regressor.fit(X_train2,y_train2)

y_pred2 = my_regressor.predict(X_test2)
y_pred2_sk = sk_regressor.predict(X_test2)
y_pred2 = np.array(y_pred2)

### Scikit

In [28]:
accuracy2_sk = mts.accuracy(y_test2,y_pred2_sk) 
accuracy2_sk

0.5142857142857142

### Own

In [30]:
accuracy2 = mts.accuracy(y_test2, y_pred2) 
accuracy2

0.11020408163265306